

    <div class="inner-cover" ng-app="TimeShareSilex" >
        <h3 class='cover-heading'>Catégories d'annonces</h3>
        <select id='categories'>
            <option class="form-control"  ng-repeat="category in categories">{{ category }}</option>
        </select>
        <h3>Localisation</h3>
        <select id='categories'>
            <option class="form-control" ng-repeat="location in locations">{{ location }}</option>
        </select>
        <br /><br />
        <p class="lead">
            <a class='btn btn-lg btn-default' href='search'>Chercher</a>                                          
        </p>
    </div>
<div class="mastfoot"></div>
     
