

                    <div class="inner-cover" ng-app="TimeShareSilex" ng-controller="MainCtrl">
                        <h1 class='cover-heading'>Catégories d'annonces</h1>
                        <select id='categories'>
                            <option  ng-repeat="category in categories">{{ category }}</option>
                        </select>
                        <h1>Localisation</h1>
                        <select id='localisation'>
                            <option ng-repeat="location in locations">{{ location }}</option>
                        </select>
                        <br /><br />
                        <p class="lead">
                            <a class='btn btn-lg btn-default' href='search'>Chercher</a>
                        </p>
                    </div>
                <div class="mastfoot"></div>
     
