<div>
	<div class="container">
            <div class="inner-cover" >
		<form ng-submit="inscription()">
                    <h3 class='cover-heading'>Inscription</h3>
                    <table>
                       
                        <tr>
                            <td>
                            <label>Nom : </label>    
                            </td>
                            <td>
                            <input id="categories" name="nom" type="text" required ng-model="user.surname"/>
                            </td>
                        </tr>                         
                        <tr>
                            <td>
                            <label>Prénom : </label>
                            </td>
                            <td>
                            <input id="categories" name="prenom" type="text" required ng-model="user.firstname" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Pseudo: </label>
                            </td>
                            <td>
                                <input id="categories" name="pseudo" type="text" required ng-model="user.pseudo"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <label>Ville : </label>
                            </td>
                            <td>
                            <input id="categories" name="ville" type="text" required ng-model="user.town"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Adresse: </label>
                            </td>
                            <td>
                                <input id ="categories" name="adresse" type="text" required ng-model="user.address"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Email: </label>
                            </td>
                            <td>
                                <input id="categories" name="email" type="text" required ng-model="user.email"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                            <input id="categories" type="submit" value="Enregistrer"/>
                            </td>
                        </tr>
                    </table>
                </form>
                <p ng-show="userOk">Vous avez bien été enregistré</p>
                <p ng-show="userError">une erreur c'est produite</p>
            </div>
        </div>
</div>
