<div>
	<div class="container">
	<ul class="nav nav-pills">
		<li ng-class="{active:panel.isSelected(1)}">
			<a href ng-click="panel.selectTab(1)">Profil</a>
		</li>
		<li ng-class="{active:panel.isSelected(2)}">
			<a href ng-click="panel.selectTab(2)">Activités</a>
		</li>
		<li ng-class="{active:panel.isSelected(3)}">
			<a href ng-click="panel.selectTab(3)">Editer profil</a>
		</li>
	</ul>
	<div class="panel" ng-show="panel.isSelectedTab(1)">
		<p>Prénom: {{panel.user.surname}}</p>
		<p>Nom: {{panel.user.firstname}}</p>
		<p>Ville: {{panel.user.town}}</p>
		<p>Timebalance: {{panel.user.timebalance}}</p>
	</div>	
	<div class="panel" ng-show="panel.isSelectedTab(2)">
		<div ng-repeat="annonce in panel.annonces|filter:panel.user.id">
			<h2>{{annonce.name}}</h2>
			<p>Publié le {{annonce.date|date}}, {{annonce.user.surname}} {{annonce.user.firstname}} a fait la demande du {{annonce.dateValiditeDebut}} au {{annonce.dateValiditeFin}} dans la catégorie {{annonce.category}}</p>
		</div>
	</div>
	<div class="panel" ng-show="panel.isSelectedTab(3)">
		<form name="userForm" role="form" ng-submit="panel.modifyUser(userForm.$valid)" novalidate>
			<div class="form-group">
				<label class="col-md-4 control-label">Prénom</label>
				<div class="col-md-8">
					<input class="form-control input-sm" ng-model="panel.user.surname" placeholder="{{panel.user.surname}}" value="{{panel.user.surname}}" required>
				</div>
				<label class="col-md-4 control-label">Nom</label>
				<div class="col-md-8">
					<input class="form-control input-sm" ng-model="panel.user.firstname" placeholder="{{panel.user.firstname}}" value="{{panel.user.firstname}}" required>
				</div>
				<label class="col-md-4 control-label">Ville</label>
				<div class="col-md-8">
					<input class="form-control input-sm" ng-model="panel.user.town" placeholder="{{panel.user.town}}" value="{{panel.user.town}}">
				</div>
				<label class="col-md-4 control-label">TimeBalance</label>
				<div class="col-md-8">
					<input class="form-control input-sm" ng-model="panel.user.timebalance" placeholder="{{panel.user.timebalance}}" value="{{panel.user.timebalance}}" readonly>
				</div>
				<button type="submit" role="button" class="btn btn-primary col-md-push-5 col-md-4">Mettre à jour</button>
			</div>
		</form>
	
	</div>

	</div>
	<p ng-show="panel.sent">Modification effectuée</p>
</div>
