/* Space out content a bit */
body {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0px;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.li{
    text-decoration: none;
    text-align: left;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
#categories{
    color: black;
}

#separator {
    width: 100px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/****************************************** Login form**********************************************************************/


.form-login {
    background-color: lightgrey;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.dropdown li:hover > ul {
    left: 0;
}

#annonces.btn {
    margin-top: 10px;
}

.annonces{
    padding-left:15px;
    padding-right:15px;
    color: black;
    margin-bottom: 15px;
    background-color: graytext;
    display: block;
    border: 2px;
    border-radius: 5px ;
    border-color: silver
}

.annonces h3{
    text-align: center;
}

#register-form .form-control{
    margin-bottom: 5px;
}

#search-annonce .label{
    
    font-size: 1.3em;
    text-align: right;
}

#search-annonce .form-control{
    text-align: center;
}

.pager-right{
    text-align: right;
    margin-top: 10px;
}

#pagination  a{
    color: black;
    
}

#pagination .active  a{
    background-color: gray;
    border-color: black;
}

#advert-form .form-control {
  margin-bottom: 5px;
}

#user-change-form .form-control {
  margin-bottom: 5px;
}

#advertForm .form-control {
 margin-bottom: 5px; 
}

#advert-txtarea {
  resize: vertical;
  max-width: 100%;
}

.datepicker-btn {
  margin-bottom: 5px;
}

.btn-primary {
  background-color: lightgrey !important;
  color: black !important;
  border-color: lightgrey !important;
}